.container_item {
  border: 1px solid gray;
  margin: 5px;
  padding: 6px 6px;
  position: relative;
}
.container_item p {
  text-align: left;
  color: green;
}
.p_close {
  position: absolute;
  right: 10px;
  top: -5px;
  color: green;
}
.p_close:hover {
  color: red;
  cursor: pointer;
}
